@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	margin: 0;
	background-color: #f5f5f5;
	font-family: lato, sans-serif;
	font-size: 15px;
	color: #737373;
}

.breadcrumb {
	margin-left: 10px;
}

header {
	text-align: center;
	margin: 50px auto;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	color: #c0a268;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

form {
	text-align: center;
	padding: 0 30px;
	margin: 30px auto 10px;
}

input[type="text"] {
	width: 650px;
	padding: 15px 20px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 22px;
	border: solid 1px #d9d9d9;
	text-transform: lowercase; 
	outline: none;
}

.loading {
	background: url("../image/loaderflat64.gif") no-repeat 85% 50% / auto;
}

input[type="text"].error {
	box-shadow: 0px 0px 10px firebrick;
}

input[type="submit"] {
	background-color: #282f36;
	padding: 10px 19px;
	color: #f5f5f5;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;	
	cursor: pointer;	
	border-radius: 22px;
	border: none;
}

form input[type="submit"] {
	height: 45px;
	margin-left: -90px;
}

input[type="submit"][readonly="readonly"] {
	opacity: 0.7;
	cursor: not-allowed;
}

section {
	width: 800px;	
	max-width: 100%;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border: solid 1px #d9d9d9;
	box-sizing: border-box;
}

section#url {
	background: transparent;
	border: none;
}

.hidden {
	display: none;
}

.keywords-selecting-tools {
	margin: 30px 0 0 30px;
}

.keywords-selecting-tools > span {
	text-decoration: underline;	
	color: #282f35;
	cursor: pointer;
	margin-right: 20px;
	font-size: 13px;
}

.error-feedback {
	margin-top: 20px;
    color: firebrick;
	display: none;
}

.content {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}

.keyword {
	color: #737373;
	font-weight: 400;
	width: 33%;
	margin: 5px 0;
}

.keyword label, 
.keyword input {
	cursor: pointer;
	margin: 0;
}

.keyword label {
	margin-left: 5px;
}

.keyword input {
	top: 2px;
	position: relative;
}

.content > textarea {
	border: solid 1px #737373;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.next-step {
	text-align: center;
}

.row {
	display: flex;
	margin-top: 20px;
}

.row .label {
	width: 130px;
	font-weight: 700;
	text-align: right;
	padding: 5px 20px 0 0;
	flex-shrink: 0;
}

.data {
	flex-grow: 1;
}

.value {
	border: solid 1px #d9d9d9;
	padding: 10px;
	display: flex;
	align-items: center;
}

.keywords .value {
	padding: 5px 10px;
}

.details {
	font-size: 14px; 
	flex-grow: 1;
}

.keywords .details {
	padding-right: 10px;
}

.edit-keywords {
	border-radius: 15px;
	background-color: rgb(115, 125, 135);
	padding: 5px 15px;
	color: white;
	cursor: pointer;
}

.audit {
	display: flex;
	justify-content: space-around;
}

.audience-results div:first-of-type {
	font-weight: 600;
}

.audience-results .number {
	text-align: center;
}

.mediaplanning .value {
	flex-wrap: wrap;
}

.mediaplanning .value > div {
	font-size: 14px;
	width: 33%;
	margin: 3px 0;
}

.buttons {
	margin-top: 30px;
	text-align: center;
}

.buttons input {
	margin: 0 3px;
	font-size: 12px;
}